#include "libBPMcBuffer.h"
#include <stdio.h>
#include <inttypes.h>
#include <pthread.h>


libBPMcBuffer b;


void read_thread(){
	char tmp2[40];
	uint32_t bytes_read;
	while(1){
		bytes_read = libBPMcBuffer_read(&b,tmp2,40,0);
		printf("read: %d bytes:\n",bytes_read);
		printf("rd: {");
		write(1,tmp2,bytes_read);
		printf("}\n");
		usleep(5000000);

	}
}
int test_main(){
	char tmp[] = "test123456789ABCDEFG";
	char tmp2[40];
	libBPMcBuffer_init(&b);
	pthread_t thread;
  //  pthread_create(&thread, NULL, read_thread, (void *) NULL);
	//usleep(1000000);
    libBPMcBuffer_write(&b,tmp,10,1);
	libBPMcBuffer_read(&b,tmp2,40,0);
	printf("read back: %s\n",tmp2);
    //usleep(1000000);

	libBPMcBuffer_write(&b,tmp,2,1);
	usleep(10000000000);
	libBPMcBuffer_write(&b,tmp,1,1);
	usleep(1000000);

	libBPMcBuffer_write(&b,tmp,10,1);
	usleep(1000000);
	libBPMcBuffer_write(&b,tmp,2,1);
	usleep(1000000);
	libBPMcBuffer_write(&b,tmp,1,1);
	usleep(1000);

}


